body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
    color: blue; 
    font-family: Arial;
   
}
#container{
    font-size: 25px;
   border: 6px solid black;
   padding: 20px;
   border-radius: 14px;
   text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#resultado{
    margin-top: 20px;
}
#botao{
    padding: 10px;
    font-size: 20px;
    border: 8px;
    border-radius: 8px;
    background-color: gray;
    margin-top: 18px;
}
#botao:hover{
    background-color: greenyellow;
}

#inputComprimento{
    font-size: 16px;
}
#inputLargura{
    font-size: 16px;
}